@import "tailwindcss";

/* >>> Deine Farben hier definieren <<< */
:root {
  --background: #F1EADA; /* beige */
  --foreground: #5E4B8B; /* dunkles Lila */
}

/* Gazpacho Utility Klasse */
@font-face {
  font-family: "Gazpacho";
  src: url("/fonts/gazpacho/GazpachoBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Utility-Klasse für Headlines etc. */
.font-gazpacho {
  font-family: "Gazpacho", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-weight: 700;
}


/* Optional: Dark Mode überschreiben oder löschen */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body nutzt IMMER die Variablen */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
